<div class="filters ms-3">
    <div class="content-section mb-2">
        <h3>Categories</h3>
        <ul class="list-group">
            <li class="list-group-item flex-between">
                <a href="{% url 'asct:cmd_list' %}" class="text-decoration-none">All</a>
            </li>
            {% for cat in category_list %}
                <li class="list-group-item flex-between">
                    <a href="{% url 'asct:cmd_list' %}?category={{ cat.category|urlencode }}" class="text-decoration-none">
                        {{ cat.name }}
                    </a>
                    <span class="badge bg-primary rounded-pill">{{ cat.count }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
