.hero-gradient {
    background: linear-gradient(135deg, #ffffff 0%, #e3f2fd 100%);
}
.bi-bg {
    font-size: 6rem; opacity: 0.25;
    margin-bottom: 1rem;
}
.nav_custom {
    background-color: rgba(255, 255, 255, 0.45); 
    backdrop-filter: blur(12px); 
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 1rem;
    padding: 4px;
    position: relative;
}
.filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}