.hero-gradient {
    background: linear-gradient(to right, #5a6b8f, #4d588a, #3e45a7);
    opacity: 0.6;
}
.bi-bg {
    font-size: 6rem; opacity: 0.25;
    margin-bottom: 1rem;
}
.nav_custom {
    background-color: rgba(255, 255, 255, 0.45); 
    backdrop-filter: blur(12px); 
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 !important;
    position: relative;
    margin-bottom: 1rem;
    color: #333333;
}
.filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tabs .nav-link {
    color: #adb5bd;
}
.navbar .navbar-nav .nav-item ul {
    color: white;
    background-color: #3e45a7;
}
.navbar .navbar-nav .nav-item li a {
    color: white;
}
.navbar .navbar-nav .nav-item li a:hover {
    color: rgb(245, 129, 129);
}
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}