.doc-container { 
    max-width: 100%; 
    padding-bottom: 3rem; 
}
.doc-title { 
    color: #c5dcff; 
    border-bottom: 2px solid #e9ecef; 
    padding-bottom: 5px; 
    margin-bottom: 1rem; 
    font-weight: 700; }

.doc-header { 
    color: #343a40; 
    margin-top: 1.5rem; 
    margin-bottom: 0.6rem; 
    font-weight: 600; 
    border-left: 5px solid #0d6efd; 
    padding-left: 1rem; 
    font-size: 1.75rem; 
}
.doc-section {
    margin-bottom: 2rem;
}

.doc-subheader { 
    color: #495057; 
    margin-top: 1.2rem; 
    margin-bottom: 0.5rem; 
    font-weight: 600; 
    font-size: 1.3rem; 
    display: flex; align-items: center; 
}

.doc-subheader i {
    margin-right: 0.5rem;
    color: #6c757d;
    font-size: 1rem;
}

.doc-h4 { 
    font-size: 1.1rem; 
    font-weight: 600; 
    color: #6c757d; margin-top: 1rem; 
    margin-bottom: 0.5rem; 
}

.table-doc { 
    width: 100%; 
    margin-bottom: 1rem; 
    border-collapse: collapse;
    color: rgba(10, 10, 10, 0.568);
}
.table-doc th, .table-doc td { 
    padding: 0.75rem; 
    border: 1px solid #dee2e6; 
}
.table-doc th { 
    background-color: #e9ecef; 
    border-bottom: 2px solid #dee2e6; 
}
.note-box { 
    background-color: #e7f1ff; 
    border-left: 4px solid #0d6efd; 
    padding: 1rem; 
    margin-bottom: 1.5rem; 
    border-radius: 0.25rem; 
}
.docs-nav-home {
    color:aliceblue; 
    background: #5052cc; 
    height:2rem; 
    margin:2px 12px 0 2px; 
    padding:6px;
    border-radius: 4px;
}
div ul.nav li.nav-item {
    padding: 0;
    margin:0;
}
div ul.nav li.nav-item a.nav-link:hover {
    color: black;
}
div ul li a.nav-link {
    color: white;
    padding: 0;
}
.nav-tabs .nav-link:hover {
    color: #f3ff8b !important;
    background-color: rgb(110, 78, 255);
    border: none;
}
.nav-tabs {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-tabs .nav-link {
    color: #adb5bd;
}
.nav-tabs .nav-link:hover {
    color: #0dcaf0;
    border-color: transparent;
}
.nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: transparent;
}