{% load static %}
<link rel="stylesheet" href="{% static 'css/apps-style.css' %}">

<nav class="navbar navbar-expand-lg navbar-light mb-4 rounded-3 shadow-sm p-2  custom-nav-bg">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="#">SSH Info</a></li>
            <li class="nav-item"><a class="nav-link" href="#">HostInfo</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Command</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Traffic</a></li>
            <li class="nav-item"><a class="nav-link" href="#">CPU</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Memory</a></li>
        </ul>
        <form class="d-flex" role="search" >
            <input class="form-control me-2" type="search" placeholder="Search events..." name='searched' aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
</nav>