{% load static %}
{% comment %}
{% endcomment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<link rel="stylesheet" href="{% static 'css/apps-style.css' %}">

<nav class="navbar navbar-expand-lg navbar-light mb-4 rounded-3 shadow-sm p-2 z-3 nav_custom">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand fw-bold text-primary" href="{% url 'asct:index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 접속정보 </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'asct:cmd_list' %}">Command</a></li>
                    <li><a class="dropdown-item" href="{% url 'asct:sshinfo_list' %}">SSH Info</a></li>
                    <li><a class="dropdown-item" href="{% url 'asct:cmd_select' %}">GET CMD</a></li>
                    <li><a class="dropdown-item" href="{% url 'asct:serverinfo_list' %}">Server Info List</a></li>
                    <li><a class="dropdown-item" href="{% url 'asct:serverinfo_select' %}">GET Server Info</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 자원정보 </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Traffic</a></li>
                    <li><a class="dropdown-item" href="#">CPU</a></li>
                    <li><a class="dropdown-item" href="#">Memory</a></li>
                </ul>
            </li>
        </ul>
        <form class="d-flex mb-0" role="search" >
            <input class="form-control me-2 py-1" type="search" placeholder="Search..." name='searched' aria-label="Search" value="{{ searched|default:'' }}"/>
            <button class="btn btn-outline-success btn-sm py-1" type="submit">Search</button>
        </form>
        </div>
    </div>
</nav>