{% load static %}
<nav class="navbar navbar-expand navbar-light rounded-3 shadow-sm nav_custom">
    <div class="container-fluid d-flex align-items-center">
        <ul class="navbar-nav me-auto m-0 p-0 flex-wrap">
            <a class="navbar-brand fw-bold text-primary" href="{% url 'blog:index' %}">
                <i class="bi bi-chat-left-text-fill me-2"></i>Posts</a>
            <a class="nav-link text-muted ms-2" href="{% url 'blog:add' %}">
                New Posts</a>
            <a class="nav-link text-muted ms-2" href="{% url 'polls:index' %}">
                Polls</a>

        </ul>
        <form class="d-flex mb-0 gap-2" role="search" action="{% url 'blog:index' %}">
            <input class="form-control form-control-sm rounded-pill px-3 py-0" type="search" placeholder="Search" name='searched' aria-label="Search"/>
            <button class="btn btn-outline-success btn-sm rounded-pill px-3 py-0" type="submit"><i class="bi bi-search"></i></button>
            <button class="btn btn-outline-secondary btn-sm rounded-pill px-3 py-0" type="button" data-bs-toggle="collapse" data-bs-target="#filters-sidebar" ><i class="bi bi-funnel"></i></button>
        </form>
    </div>
</nav>